<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089626309706-rm49e662rk1bjnke3mq81p98651ffl8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089626309706-rm49e662rk1bjnke3mq81p98651ffl8c</string>
	<key>API_KEY</key>
	<string>AIzaSyDtUCQgkmY5xyjR5ykMBD43oVVlxFHmGUY</string>
	<key>GCM_SENDER_ID</key>
	<string>1089626309706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supernovaonline.Duke</string>
	<key>PROJECT_ID</key>
	<string>duke-95346</string>
	<key>STORAGE_BUCKET</key>
	<string>duke-95346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089626309706:ios:422f23917ce5f321d612b3</string>
</dict>
</plist>